#start {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    visibility: visible;
    width: 8em;;
    height: 2em;
}

#stop {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    visibility: hidden;
    width: 8em;
    height: 2em;
}

#buy{
	background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    visibility: visible;
    width: 8em;
    height: 2em;
}

body{
	display: block;
	margin: 0px;
}

#game_toggle{
	margin: 0.2em;
}

#purchase_menu{
	padding-top: 0.4em;
	margin: 0.2em;
}

#game_pane{
	margin: 0.2em;
}

#economy_display_pane{
	margin: 0.2em;
	float: left;
}

#military_display_pane{
	margin: 0.2em;
	float: left;
}

#attack_warning{
	color: red;
	visibility: hidden;
}